
.section-heading h1 {
  font-size: 1.8em;
}

a i.fa-github {
  color: var(--color-icon);
}

// Faster transitions
a {
  transition: color .2s ease-out;
}

/**
 * Main article container area
 */
div.article-container {
  h1, h2, h3, h4, h5, h6 {
    // Make anchors show on hover
    a.header-anchor {
      opacity: .25;
      text-decoration: none;
      font-weight: 500;
    }
    
    &:hover a.header-anchor {
      opacity: 1;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  // More accessible-friendly links
  a {
    text-decoration: underline;
    text-decoration-color: rgba(1, 1, 1, .2);

    &:hover {
      text-decoration-color: inherit;
    }
  }
}
