$color-primary: rgb(87, 154, 202);
$color-secondary: rgb(230, 101, 129);
$color-grey: #4e4e4e;

// Make icons behave properly in light and dark mode
:root {
  body {
    --color-icon: #4e4e4e;
  }
  body.dark {
    --color-icon: #afafaf;
  }
}