// General

section.wg-blank {
    .container {
        max-width: 900px;
    }
}

.section-heading h1 {
    font-size: 1.8em;
}

button.btn-primary a {
    border-bottom: 0;
}

// Home page
h1.hero-title {
    max-width: 768px;
}

.wg-hero {
    padding: 1em 0;
}

.home-section {
    padding: 50px 0 50px 0;
}

div.hero-lead p {
    font-size: 0.8em;
}

// Cards
div.mission-cards a.card-link {
    font-size: 1.4em;
}

// About page
section#team .people-person {
    width: 30%;
}

figure.projects-image img {
    margin-left: 0;
    max-height: 4em;
    max-width: 35%;
}


// Infrastructure page
p.highlight {
    width: 80%;
    text-align: center;
    margin: 1em auto;
    font-size: 1.1em;
    font-style: italic;
}

div.project-figures {
    margin-top: 4em;

    figure.project-highlight {
        width: 33%;
        float: left;
        height: 11em;
        text-align: center;

        img {
            margin: 0 auto;
            height: 3em;
        }

        p.project-title {
            font-size: 1.3em;
            margin-bottom: .2em;
        }

        p.project-caption {
            max-width: 80%;
            margin: 0 auto;
        }
    }
}

// Book-styled pages

div.docs-sidebar {
    visibility: hidden;
}

// Right to replicate
table {
    tr th:empty {
        display: none;
    }

    tr td:first-child {
        text-align: center;
        font-size: 1.1em;
    }
}


// Jobs page

.job-cards {
    font-size: .8em;

    .extra-info {
        font-style: italic;
    }

    button {
        font-size: 1.3em;
    }
}
