// /collaborators page
.collaborators-gallery .section-heading {
  text-align: center;
}

.collaborators-gallery .btn-toolbar {
  justify-content: center;
}

.collaborators-gallery a.card-image {
  background-color: white !important;
}