
// Jobs page
.job-cards {
  font-size: .8em;

  .extra-info {
      font-style: italic;
  }

  button {
      font-size: 1.3em;
  }
}

// Job info box on a job posting
.job-info {
  border: 1px solid $color-grey;
  border-radius: 1em;
  padding: 1.5em;
  width: 80%;
  margin: auto;
  font-size: .9em;

  ul.cta-group {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
    }
  }
}

// Prevent the list of job postings from showing up at the bottom
div.media.stream-item {
  display: none;
}