<div class="row justify-content-center mb-4">
  <div class="col-6 col-md-4">
    <h5>About</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="/mission" class="nav-link p-0 text-muted">Mission and goals</a></li>
      <li class="nav-item mb-2"><a href="/organization" class="nav-link p-0 text-muted">Team and organization</a></li>
      <li class="nav-item mb-2"><a href="https://compass.2i2c.org" class="nav-link p-0 text-muted">Organizational documentation</a></li>
      <li class="nav-item mb-2"><a href="/jobs" class="nav-link p-0 text-muted">Jobs at 2i2c</a></li>
      <li class="nav-item mb-2"><a href="/blog" class="nav-link p-0 text-muted">Blog</a></li>
    </ul>
  </div>

  <div class="col-6 col-md-4">
    <h5>Technical</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">GitHub</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Documentation</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
    </ul>
  </div>

  <div class="col-md-4">
    <form>
      <h5>Subscribe to our newsletter</h5>
      <div>
        <a href="https://2i2c.us2.list-manage.com/subscribe?u=494ab59616acdfc381a699b44&id=94ce07e556">Join our mailing list</a>
      </div>
    </form>

    <h5>Follow us online</h5>
    <style>
      .footer__brand-icons {
        font-size: 1.3em;
        display: flex;
        gap: .5rem;
      }
      </style>
      <div class="footer__brand-icons">
        <a href="https://github.com/2i2c-org/2i2c-org.github.io">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://twitter.com/2i2c_org">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="http://eepurl.com/hjHbff">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </div>
  </div>
</div>
<div class="license mb-3">© 2024 2i2c. This work is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/"> CC-BY 4.0 license</a>.</div>
