{{/*
  Inspired by Jacob Tomlinson's blog here:
  - https://github.com/jacobtomlinson/website/blob/6028b0d95a09f82de84b8c7f0e8b568be0bf879f/themes/working/layouts/partials/head.html#L34-L53
  - https://github.com/jacobtomlinson/website/blob/6028b0d95a09f82de84b8c7f0e8b568be0bf879f/themes/working/layouts/partials/ogimage.html
*/}}

{{ $featured := resources.Get "media/opengraph-image-template.png" }}

{{ $featured = $featured.Filter (images.Text $.LinkTitle (dict
"color" "#1D4EF5"
"size" 70
"lineSpacing" 10
"x" 84 "y" 250
"font" (resources.Get "fonts/Roboto-Medium.ttf"))) }}

{{ return $featured }}