- [Our Shared Responsibility Model](https://docs.2i2c.org/about/service/index.html) describes how we collaborate with communities in this hub service.
- [Our Service Level Objectives](https://docs.2i2c.org/about/service/service-objectives.html) describes our day-to-day goals running the service.
- [Our Infrastructure Guide](https://infrastructure.2i2c.org/) describes all of our cloud infrastructure and engineering practices, with links to our codebase.
- [Our Organizational Strategy](https://compass.2i2c.org/organization/strategy.html) describes our overall vision and plan as an organization.