{{/* Grab a list of all files in the jobs folder that are open */}}
{{ $jobs := .Page.GetPage "jobs/" }}
{{ $jobs := where $jobs.Pages "Params.open" "true" }}

{{ if $jobs }}
<div class="card-group job-cards mb-5">

  {{/* Create a card for each job. */}}
  {{ range $jobs }}
  <div class="card mx-3 col-11 col-lg-6 p-0">
    <div class="card-body text-left p-4 mb-0">
      <h5 class="card-title mb-3 mt-0">{{ .Name }}</h5>
        <ul>
          {{ range .Params.work_description }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
        <p class="extra-info">Salary: {{ .Params.salary_range }}<br />Fully remote</p>
        </div>
        <div class="card-footer text-center">
        <button type="button" class="btn btn-primary">
          <a href="{{ .Permalink }}" class="card-link text-white">Learn more and Apply</a>
        </button>
      </div>
  </div>
  {{ end }}
</div>
{{ else }}
<strong>⚠️We are not currently hiring for any positions, but keep an eye here as we are a young organization and hope to expand soon!⚠️</strong>
{{ end }}
