name: CI/CD
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    name: Build and deploy to GitHub pages if on main
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Python dependencies and extract org logos
        run: |
          pip install -r requirements.txt
          python scripts/extract_org_logos.py

      - name: Run pre-commit checks
        uses: pre-commit/action@v3.0.1
        env:
          SKIP: oxipng

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          # This should be the same version that we use in .netlify.toml
          hugo-version: '0.125.3'
          extended: true

      - name: Build
        run: hugo --minify

      # Only deploy to gh-pages if we are pushed to `main` branch
      - if: ${{ github.ref == 'refs/heads/main' }}
        name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          cname: 2i2c.org
